.custom-button {
  height: 44px;
  min-height: 44px;
  width: 100%;
  cursor: pointer;
  background-color: var(--black-base) !important;
  color: var(--white-base) !important;
  border-radius: var(--radius-small) !important;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: var(--black-dark)!important;
  }

  &.outlined {
    background-color: var(--white-base) !important;
    border: 1px solid var(--separations-base) !important;
    color: var(--black-base) !important;
  }

  &.mat-mdc-button-disabled {
    opacity: 0.5;
  }
}
