<div class="booking-form-summary">
  @if (isLoading) {
    <div class="booking-form-summary-loading">
      <mat-spinner></mat-spinner>
    </div>
  } @else {
    <div class="booking-form-summary-row">
      <div class="booking-form-summary-row-title"><img src="assets/plane.svg" alt="plane"/> <span>Flight</span></div>
      <span>{{ flight?.price | currencyFormat }}</span>
    </div>
    <div class="booking-form-summary-row">
      <span>Total</span>
      <span class="booking-form-summary-row-total">{{ flight?.price | currencyFormat }}</span>
    </div>
  }

</div>

