<div class="flight-list-filter">
  <div class="flight-list-filter-item">
    <div class="flight-list-filter-item-title">{{ filterFields.SortBy }}</div>
    <mat-form-field appearance="outline" class="custom-input">
      <mat-select [placeholder]="'Select Option'" [value]="sortBy()" (selectionChange)="updateSortBy($event.value)">
        @for (option of sortByOptions; track option; ) {
          <mat-option [value]="option.value">
            {{ option.title }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="flight-list-filter-item">
    <div class="flight-list-filter-item-title">{{ filterFields.Price }}</div>
    <div class="flight-list-filter-item-counter">
      <span class="flight-list-filter-item-counter-range">{{ price() | numberFormat }}-{{ maxPrice | numberFormat}}</span>
      <mat-slider [disabled]="!maxPrice || !minPrice" [min]="minPrice" [max]="maxPrice" [step]="countStep()"
                  (input)="updateSliderValue($event)">
        <input matSliderThumb [value]="price()">
      </mat-slider>
    </div>
  </div>

  <div class="flight-list-filter-item">
    <div class="flight-list-filter-item-title">{{ filterFields.Stops }}</div>
    <div class="flight-list-filter-item-body">
      @for (item of stops; track item; let idx = $index) {
        <mat-checkbox [checked]="checkedStops()[idx]" (change)="toggleCheckbox(idx)">
          {{ item | stopsFormat }}
        </mat-checkbox>
      }
    </div>
  </div>
</div>
